html, body {
	
	height: 100%;
	margin: 0;
	background: #f7f7f7;
}
a {
	
	text-decoration: none;
	color: black;
}

a:hover {
	
	color: grey;
	
}

.viewer {
	position: absolute;
	padding-left: 290px;
}

.play {
	
	position: absolute;
	padding-left: 825px;
	padding-top: 350px;
}

.trend {
	
	position: absolute;
	padding-left: 300px;
	padding-top: 750px;
}

.settings{
	
	position: absolute;
	background: white;
	width: 23%;
	height: 7.5%;
	padding-left: 1100px;
}

.home {
	
	padding-left: 10px;
	
}

.menu {
	
	background: white;
	width: 20%;
	height: 135%;
	position: relative;
}

.links {
padding-left: 20px;
font-family: helvetica;
font-weight: lighter;
font-size: 23px;
line-height: 122%;
padding-top: 7px;
}


#wrapper {
width: 500px;
border: 1px;
}

#first {
width: 80px;
border: 1px;
float: left;

}

#second {
border: 1px;

}


.header {
padding-left: 35px;
font-size: 30px;
padding-top: 10px;

}

h2 {
	
	font-family: helvetica;
	font-size: 36px;
	
}

h3 {

	font-family: helvetica;

}