h1
{
	position: absolute;
	top: -25px;
	left: 25px;
	font-family: futura;
	font-size: 75px;
}

h2
{
	position: absolute;
	font-family: helvetica;
	font-size: 25px;
}

a
{
	position: absolute;
	font-family: helvetica;
	text-decoration: none;
	color: black;
	font-size: 20px;
}

a:hover
{
	color: grey;
}

p
{
	position: absolute;
	font-family: helvetica;
	font-size: 18px;
}

h3
{
	position: absolute;
	font-family: helvetica;
	font-size: 18px;
}

#gbc
{
	text-decoration: underline;
	font-size: 18px;
}

#back
{
	position: absolute;
	width: 250px;
}

#preview1
{
	position: absolute;
	width: 250px;
}
#preview2
{
	position: absolute;
	width: 250px;
}
#preview3
{
	position: absolute;
	width: 250px;
}
#preview4
{
	position: absolute;
	width: 250px;
}
#preview5
{
	position: absolute;
	width: 250px;
}

#shade
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 1056px;
	background-color: black;
	opacity: 85%;
	display: none;
}















